// import utilities
@import '../../styles/utilities/utilities';

// about styles
// --------------------------------------
.about {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: auto;
    padding: $global-spacing 0;
    position: relative;

    @include mobile {
        padding: $global-spacing-mobile 0 0;
        grid-template-columns: 100%;
    }

    // heading
    &-heading {
        @include font-size($font-min, $font-max);
        background-color: $color-accent;
        color: $color-background;
        display: inline-block;
        align-self: start;
        justify-self: start;
        font-family: $base-font;
        font-weight: $font-weight-regular;
        padding: 0 10px;
        text-transform: uppercase;
    }

    // content
    &-content {
        @include font-size($font-lg-min, $font-lg-max);
        padding: $global-spacing ($global-spacing / 2) 0;

        @include mobile {
            padding: 0;
        }

        // content keywords
        span:not(.about-image) {
            background-color: $color-accent;
            color: $color-background;
            display: inline-block;
            margin: 0 3px;
            position: relative;
            z-index: 1;

            > span {
                margin: 0;
            }
        }
    }

    // image
    &-image {
        @include ratio(350,450);
        @include object-fit();
        filter: blur(15px);
        opacity: 0;
        left: -50%;
        top: 0;
        transform: rotate(-5deg) skewY(-3deg);
        transition: all .3s ease;
        position: absolute !important; // override other span tags
        height: auto;
        width: 350px;

        &.is-visible {
            filter: blur(0);
            opacity: 1;
            transform: rotate(-5deg) skewY(0);
        }

        img {
            position: absolute;
            top: 0;
        }

        @include mobile {
            display: none;
        }
    }
}
