// import utilities
@import '../../styles/utilities/utilities';

// contact styles
// --------------------------------------
.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 0 $global-spacing;
    position: relative;

    &:after {
        content: "";
        background: url("../../assets/right-arrow.svg") no-repeat;
        background-size: 100%;
        filter: invert(30%);
        height: 100px;
        width: 100px;
        position: absolute;
        right: -45px;
        bottom: 15px;
    }

    @include mobile {
        padding: $global-spacing-mobile 0;

        &:after {
            display: none;
        }
    }

    // heading link
    &-heading-link {
        @include font-size($font-intro-min, $font-intro-max);
        color: $color-body;
        font-weight: $font-weight-medium;
        line-height: 1;
        justify-self: center;
        text-decoration: none;
        position: relative;

        &:after {
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5%;
            width: 0;
            background-color: $color-body;
            transition: width .3s ease;
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }

        @include mobile {
            &:after {
                display: none;
            }
        }
    }
}
