// import utilities
@import '../../styles/utilities/utilities';

// contact styles
// --------------------------------------
.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $global-spacing 0 $global-spacing-xl;
    position: relative;

    // heading link
    &-heading-link {
        @include font-size($font-intro-min, $font-intro-max);
        color: $color-body;
        font-weight: $font-weight-bold;
        line-height: 1;
        justify-self: center;
        text-decoration: none;
        text-shadow: $retro-shadow-text;
        text-transform: uppercase;
        position: relative;

        &:hover {
          text-decoration: underline;
        }
    }
}
